<header>
    <h2>Обо мне</h2>
</header>
      
<figure class="marginRight"><img src="{___IMAGES___}images/work_img.jpg" alt="Image" /></figure>
<p>Информация</p>
<div class="clearfix"></div>
<ul class="skills"></ul>