<script type="text/javascript" src="/js/sintacsis.js"></script>
<script type="text/javascript" src="/js/CTL_Ajax.js"></script>
<script type="text/javascript" src="/jq/shCore.js"></script>
<script type="text/javascript" src="/jq/shBrushBash.js"></script>
<script type="text/javascript" src="/jq/shBrushCpp.js"></script>
<script type="text/javascript" src="/jq/shBrushCSharp.js"></script>
<script type="text/javascript" src="/jq/shBrushCss.js"></script>
<script type="text/javascript" src="/jq/shBrushDelphi.js"></script>
<script type="text/javascript" src="/jq/shBrushDiff.js"></script>
<script type="text/javascript" src="/jq/shBrushGroovy.js"></script>
<script type="text/javascript" src="/jq/shBrushJava.js"></script>
<script type="text/javascript" src="/jq/shBrushJScript.js"></script>
<script type="text/javascript" src="/jq/shBrushPhp.js"></script>
<script type="text/javascript" src="/jq/shBrushPlain.js"></script>
<script type="text/javascript" src="/jq/shBrushPython.js"></script>
<script type="text/javascript" src="/jq/shBrushRuby.js"></script>
<script type="text/javascript" src="/jq/shBrushScala.js"></script>
<script type="text/javascript" src="/jq/shBrushSql.js"></script>
<script type="text/javascript" src="/jq/shBrushVb.js"></script>
<script type="text/javascript" src="/jq/shBrushXml.js"></script>
<script type="text/javascript" src="/js/js_sint_capt.js"></script>
<script type="text/javascript" src="/js/kontakt.js"></script>
<script type="text/javascript" src="/jquery/jquery-1.4.3.min.js"></script> 
<script type="text/javascript" src="/jquery/jquery_003.js"></script> 
<script type="text/javascript" src="/jquery/jqueryMenu.js"></script> 
<script type="text/javascript" src="/jquery/jquery_image_print.js"></script>       
<script type="text/javascript" src="/jquery/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/jquery/animation.js"></script>
<script type="text/javascript" src="/jquery/ajax_image_animation.js"></script>