<p><input type="text" name="login"  value="Ваш Логин" id="login" onblur="if (this.value == ''){this.value = 'Ваш Логин'; }" onfocus="if (this.value == 'Ваш Логин') {this.value = '';}" /></p>
<p><input type="password" name="password" value="Ваш пароль" id="password"  onblur="if (this.value == ''){this.value = 'Ваш пароль'; }" onfocus="if (this.value == 'Ваш пароль') {this.value = '';}" /></p>
<a href="#" onclick="STAuthLogin()">Отправить</a>