﻿<h4>Recommended browser is well supported by HTML5!</h4>
<td><a href="/browser_google"><img src="/templates/HTML5/images/browser/chromegoogle.png" /></a></td>
<td><a href="/browser_yandex"><img src="/templates/HTML5/images/browser/chromeyandex.png" /></a></td>
