﻿<style>
input[type="button"] {
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#ddd;border:0;font-size:14px;height:30px;padding:3px 10px;color:#888;font-family:Arial, sans-serif;text-shadow:1px 1px 0 #fff;font-weight:bold;-moz-box-shadow:0 1px 1px #AAAAAA;-webkit-box-shadow:0 1px 1px #AAAAAA;width: auto;width: 505px;
}
</style>

<form>

<center><div class="class4"><p></p>
<div id="result" style="padding:5px;border-top: 7px solid #ddd; border-bottom: 7px solid #ddd;font:1em Georgia, serif;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;">Тут появится ключ на редактирование вашего PDF</div><p></p>
<input id="textName" type="text" value="Введите название текста" style="width: 490px;padding:5px;border: 3px solid #ddd;font:1em Georgia, serif;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;" maxlength="255" /><p></p>
<textarea id="text" style="width: 490px;padding:5px;height: 15em;border: 3px solid #ddd;font:1em Georgia, serif;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;"></textarea><p></p>
<input onclick="send();" value="Отправить" type="button" />
</div></center>

</form>

<script type="text/javascript" src="/js/ajaxcp.js"></script>