﻿<form>
<table align="center" id="okey" width="300px" style="margin-top: 25px;border: 3px solid #DDD;">
<tr>
	<td><input type="text" value="Ваша ссылка" id="okey" onblur="if (this.value == ''){this.value = 'Ваша ссылка'; }" onfocus="if (this.value == 'Ваша ссылка') {this.value = '';}" /></td>
	<td><input id="CTLp" type="button" value="Отправить" onclick="CutTheLink();" /></td>
</tr>
</table><p></p>
<table align="center" id="okey" width="300px" style="border: 3px solid #DDD;">
<tr>
    <td><div id="result">Тут появится ваша ссылка.</div></td>
</tr>
</table><p></p>
</form>