<p><input type="text" name="login"  value="Ваш логин" id="name" onblur="if (this.value == ''){this.value = 'Ваш логин'; }" onfocus="if (this.value == 'Ваш логин') {this.value = '';}" /></p>
<p><input type="password" name="password1" value="Ваш пароль" id="password1"  onblur="if (this.value == ''){this.value = 'Ваш пароль'; }" onfocus="if (this.value == 'Ваш пароль') {this.value = '';}" /></p>
<p><input type="password" name="password2" value="Ваш пароль" id="password1"  onblur="if (this.value == ''){this.value = 'Ваш пароль'; }" onfocus="if (this.value == 'Ваш пароль') {this.value = '';}" /></p>
{CAPTCHA}
<a href="#" onclick="Regist()">Отправить</a>